/.idea/
.env

data/raw/*
!data/raw/.gitkeep

data/intermediate/*
!data/intermediate/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/visualization/*
!data/visualization/.gitkeep

data/evaluation/**
!data/evaluation/.gitkeep

**/__pycache__/**

models/**
!models/.gitkeep
